body {
 font-family: Arial monospace;
}
a {
 color: gray;
 text-decoration:none;
}
p {
  padding:3px;
  font-size: 120%;
}
.content {
  margin-left: 20%;
  margin-right: 30%;
  width:60%;
  height: auto;
}
pre {
  width: 100%;
  height: auto;
  white-space:pre-wrap;
}
.lateral{
 width:20%;
 position: fixed;
 padding-top:10px;
}
.right {
  right: 0;
}
.left {
  left: 0;
}
.image{
  width:auto;
  height:auto;
}
body {
 background-color: black;
 color: white;
}
.small {
 width: 10%;
 position: absolute;
 top: 0;
 left: 0;
 float:left;
}
