body {
 font-family: Arial monospace;
}
a {
 color: gray;
 text-decoration:none;
}

h1, h2, h3 {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  border: 6px gray solid;
}
p {
  padding:3px;
  font-size: 120%;
}
img.main {
  width:100%;
}
img.intro{
  width: 100%;
}
img.next {
  margin-left: 25%;
  width: 50%;
}
img.up {
  margin-left: 25%;
  width: 40%;
  margin-top: 10%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
.content {
  margin-left: 20%;
  margin-right: 30%;
  width:60%;
  height: auto;
}
pre {
  width: 100%;
  height: auto;
  white-space:pre-wrap;
}
.lateral{
 width:20%;
 position: fixed;
 padding-top:10px;
}
.right {
  right: 0;
}
.left {
  left: 0;
}
.image{
  width:auto;
  height:auto;
}
body {
 background-color: black;
 color: white;
}
.small {
 width: 10%;
 position: absolute;
 top: 0;
 left: 0;
 float:left;
}
