body {
  color: rgba(246, 129, 92, 0.7);
}
h1,h2,h3 {
  color: rgba(214, 253, 199, 0.7);
}
h3 > em {
  color: rgb(143, 198, 209);
}
a {
  color: rgb(112, 178, 229);
}
.content {
  margin-left: 10%;
  margin-right: 20%;
  padding: 2%;
  width: 80%;
  height: auto;
  background-color: rgba(35, 43, 54, 0.77);
}

body{
  background: url(/eliege/desenho08.png) no-repeat center top;
}
