<html>
 <head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link href="/atom.xml" rel="alternate" title="Ideia.me Jônatas!" type="application/atom+xml" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="user-scalable=no, width=device-width" />
  <link href="/css/base.css" type="text/css" rel="stylesheet" />
 </head>
 <body>
   <div class="links" id="header">
     <h1>{{page.title}}</h1>
   </div>
   <div class="layout">
     <img src="images/lado-1.png" class="lateral left"/>
     <img src="images/lado-2.png"class="lateral right" />
     <div class="content">
       {{ content }}
{% if page.main == true %}
  {% for post in site.posts %}
    <a class="post" href="{{ post.url }}">{{ post.title }}</a>
  {% endfor %}
{% endif %}
     </div>
   </body>
   <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-39559245-1']);
     _gaq.push(['_trackPageview']);

     (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
</script>
</html>
